<div class="hidden md:block">
    <div class="flex items-center space-x-8">
        <a href="{{ path('blog_index') }}" class="text-gray-700 hover:text-primary transition-colors duration-200">Home</a>
        <a href="{{ path('destinations') }}" class="text-gray-700 hover:text-primary transition-colors duration-200">Destinations</a>
        <a href="{{ path('tips') }}" class="text-gray-700 hover:text-primary transition-colors duration-200">Travel Tips</a>
        <a href="" class="text-gray-700 hover:text-primary transition-colors duration-200">About</a>
        <a href="#" class="text-gray-700 hover:text-primary transition-colors duration-200">Contact</a>
    </div>
</div>

